.row-header {
  text-align: center;
  justify-content: center;
  margin-top: 3em;
}

h1 {
  font-size: 8em;
  letter-spacing: 3px;
  opacity: 85%;
}

h2 {
  font-size: 5em;
  letter-spacing: 3px;
  opacity: 85%;
}

p {
  font-weight: bold;
  /* line-height: 2; */
  /* letter-spacing: 1px; */
  font-size: 1.5em;
  opacity: 75%;
}

.button {
  display: inline-block;
  /* padding: 0.4em 1.2em; */
  /* border: 0.1em solid black; */
  /* margin: 0 0.3em 0.3em 0; */
  /* border-radius: 1.2em; */
  /* box-sizing: border-box; */
  text-align: center;
  transition: all 0.3s;
  width: 11em; /*
  text-decoration: none;
  justify-content: center;
  opacity: 60%;*/
  font-weight: bolder;
}

/* .button:hover {
  color: black;
  background-color: lightslategray;
} */

@media only screen and (max-width: 400px) {
  .row-header {
    margin-top: 1em;
  }
  h1 {
    font-size: 1.5em;
  }
  .button {
    width: 10em;
  }
}
@media only screen and (max-width: 600px) {
  .row-header {
    margin-top: 1em;
  }
  h1 {
    font-size: 2.5em;
  }
  .button {
    width: 12em;
  }
  .footer {
    display: block;
  }
}
@media only screen and (max-width: 720px) {
  .row-header {
    margin-top: 2em;
  }
  h1 {
    font-size: 3em;
  }
  button {
    width: 10em;
  }
  .footer {
    width: 50%;
  }
  .nav-link {
    font-size: 0.75em;
  }
}

@media only screen and (max-width: 1250px) {
  h1 {
    font-size: 6em;
    letter-spacing: 4px;
  }
   .button {
    width: 10em;
  }
  .nav-link {
    font-size: 1em;
  }
}

.approach {
  text-align: center;
  justify-content: center;
  margin-bottom: 2em;
}

.footer {
  position: fixed;
  display: inline-block;
  text-align: center;
  left: 0px;
  bottom: 0px;
  /* height: 30px; */
  width: 100%;
  background-color: white;
  opacity: 60%;
  padding-bottom: 5px;
}

h3 {
  color: black;
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

.navbar {
  background-color: whitesmoke;
  color: black;
  opacity: 60%;
  font-weight: bold;
}

.nav-link {
  font-size: 1.5em;
}
