.masthead {
  /* height: 100vh;
  min-height: 500px; */
  margin: 25;
  background-size: cover;
  background: transparent;
  background-image: url('images/vaaaaaaase.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  justify-content: center;
}

.row-header {
  text-align: center;
  justify-content: center;
  /* margin-top: 5em; */
}

h1 {
  font-size: 4.5em;
}

.approach {
  text-align: center;
  justify-content: center;
}

.footer {
  background: white;
  opacity: 60%;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
  color: black;
}

h3 {
  color: black;
}

.jumbotron {
  /* background: #e4c2c3; */
  color: black;
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

.navbar {
  background-color: white;
  color: black;
  opacity: 60%;
}

.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 500ms ease-in;
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 500ms ease-out;
}
