/* @import url('https://fonts.googleapis.com/css?family=Lora&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');
body {
  margin: 0;
  height: 100vh;
  min-height: 500px;
  font-family: 'Crimson Text', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
  background-image: linear-gradient(
      rgba(216, 184, 193, 0.4),
      rgba(255, 255, 255, 0.7),
      rgba(203, 203, 216, 0.8)
    ),
    url('images/vaaaaaaase.png');
  text-align: center;
  justify-content: center;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: 'Crimson Text', serif, monospace;
}
