@import url('https://fonts.googleapis.com/css?family=Raleway:300,400&display=swap');
body {
  margin: 0;
  height: 100vh;
  min-height: 500px;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
  background-image: linear-gradient(
      rgba(126, 80, 94, 0.2),
      rgba(255, 255, 255, 0.6),
      rgba(40, 40, 139, 0.2)
    ),
    url('images/vaaaaaaase.png');
  text-align: center;
  justify-content: center;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: 'Raleway', sans-serif, monospace;
}
